/* Page */
body {
    background-color: rgba(0, 0, 0, 0.219);
}
* {
    font-family: "Roboto", sans-serif;
}

/* Navbar */
nav li {
    display: inline-block;
    color: blue;
}
nav li a {
    text-decoration: none;
}
/* End Navbar */

/* Footer */
footer {
    margin-top: 7rem;
    text-align: center;
    font-size: 15px;
}
footer p {
    padding-top: 50%;
    padding-bottom: 50%;
}
/* End Footer */

/* Home */
.profile {
    padding-top: 2rem;
}
img {
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
}
.profile p {
    font-size: 20px;
}
.main {
    justify-content: space-between;
    flex: 1;
    margin-left: 2rem;
    margin-right: 2rem;
}
table {
    width: 60%;
    table-layout: fixed;
    padding-top: 1rem;
}
table td {
    width: 50%;
}
table td:first-child,
table th:first-child {
    border-right: 1px solid black;
}
table th {
    width: 50%;
    border-bottom: 1px solid black;
}
/* End Home */

/* Contact */
input,
textarea {
    margin-top: 2px;
    margin-bottom: 10px;
}
